<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>Address Bbook</title>
    </f:facet>
</h:head>
<body>

<p:dialog header="Add Communication" id="comDlg" widgetVar="communicationDia" modal="true" width="50%" >
    <h:form>
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <h:outputLabel value="Type" />
                </div>
                <div class="ui-grid-col-4">
                    <p:selectOneMenu id="communicationType" value="#{communication.selectCommunication}" style="width: 100%;">
                        <f:selectItem itemLabel="Select One" itemValue="" />
                        <f:selectItems value="#{communication.allCommunication}" var="comItem" itemLabel="#{comItem.name}" itemValue="#{comItem.id}" />
                    </p:selectOneMenu>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <p:outputLabel value="Value" />
                </div>
                <div class="ui-grid-col-9">
                    <p:inputText value="#{communication.communicationEntity.value}"></p:inputText>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <h:inputHidden value="#{communication.communicationEntity.tmpId}"></h:inputHidden>
                    <p:commandButton value="Save" update=":form:communicationsListNow" actionListener="#{communication.saveTmpData}" oncomplete="PF('communicationDia').hide()" />
                    <p:commandButton value="Cancle" onclick="PF('communicationDia').hide()"></p:commandButton>
                </div>
            </div>
        </div>
    </h:form>
</p:dialog>

<h:form id="form">
    <f:view>
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">

                <div class="ui-grid-col-3">
                    <h:panelGrid columns="1" cellpadding="10">
                        <p:graphicImage value="../../img.png" />
                        <h:panelGrid columns="3" cellpadding="10">
                            <h:outputLabel/>
                            <h:outputLabel/>
                            <p:button value="Add Picture"></p:button>
                        </h:panelGrid>
                    </h:panelGrid>

                </div>

                <div class="ui-grid-col-9">
                    <h:outputLabel value="Address Book" style="font-size: 30px"/>
                    <h:panelGrid columns="6" cellpadding="10">
                        <h:outputText value="Title"/>
                        <p:selectOneMenu id="titles" style="width:125px">
                            <f:selectItem itemLabel="Mr." itemValue="Mr." />
                            <f:selectItem itemLabel="Ms." itemValue="Ms." />
                            <f:selectItem itemLabel="Miss" itemValue="Miss" />
                        </p:selectOneMenu>
                        <h:outputText value="Firstname"/>
                        <p:inputText></p:inputText>
                        <h:outputText value="Surname"/>
                        <p:inputText></p:inputText>

                        <h:outputText value="Gender"/>
                        <p:selectOneMenu id="gender" style="width:125px">
                            <f:selectItem itemLabel="Male." itemValue="Male." />
                            <f:selectItem itemLabel="Female" itemValue="Female" />
                        </p:selectOneMenu>

                        <h:outputText value="Date of Birth" />
                        <p:calendar id="button"  showOn="button" />

                    </h:panelGrid>


                    <h:outputText value="Contact Details" style="font-size: 30px"/>
                    <p:tabView>
                        <p:tab title="Home">
                            <h:outputText value="Home Address"></h:outputText>
                            <h:panelGrid columns="4" cellpadding="10">

                                <h:outputText value="Address No."/>
                                <h:inputText/>
                                <h:outputText value="Road"/>
                                <h:inputText/>

                                <h:outputText value="Province"/>
                                <h:inputText/>
                                <h:outputText value="District"/>
                                <h:inputText/>

                                <h:outputText value="Postcode"/>
                                <h:inputText/>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Work">
                            <h:outputText value="Work Address"></h:outputText>
                            <h:panelGrid columns="4" cellpadding="10">

                                <h:outputText value="Address No."/>
                                <h:inputText/>
                                <h:outputText value="Road"/>
                                <h:inputText/>

                                <h:outputText value="Province"/>
                                <h:inputText/>
                                <h:outputText value="District"/>
                                <h:inputText/>

                                <h:outputText value="Postcode"/>
                                <h:inputText/>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>

                    <h:outputText value="Communications" style="font-size: 30px"/>
                    <p:commandButton value="Add" update=":comDlg" actionListener="#{communication.addTempCommunication}" process="@this" oncomplete="PF('communicationDia').show();" />
                        <p:dataTable id="communicationsListNow"  var="communicationItem" value="#{communication.communicationList}"  >
                            <p:column headerText="Type">
                                <h:outputText value="#{communicationItem.tmpId} #{communicationItem.name}" />
                            </p:column>
                            <p:column headerText="Value">
                                <h:outputText value="#{communicationItem.value}" />
                            </p:column>
                            <p:column style="width:100px">
                                <p:commandButton value="Edit" update=":comDlg" actionListener="#{communication.editTempCommunication(communicationItem.tmpId)}" process="@this" oncomplete="PF('communicationDia').show();" />
                            </p:column>
                        </p:dataTable>

                    <h:outputText value="Other" style="font-size: 30px"/>
                    <h:inputTextarea rows="10" style="width: 100%;"/>

                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-9"></div>
                            <div class="ui-grid-col-3">
                                <p:button value="Save"/>
                                <p:button value="Cancle"/>
                                <p:commandButton value="te" actionListener="#{employee.cre}"></p:commandButton>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </f:view>
</h:form>
</body>
</html>
