<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:view>
<h:head>
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>Address Bbook</title>
    </f:facet>
</h:head>

<body>
<f:event type="preRenderView" listener="#{employee.startForm}" />
    <p:dialog header="Add Communication" id="communicationDlg" widgetVar="communicationDia" modal="true"
          width="50%">
        <h:form id="formDlg">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p:messages id="msgs1"/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        <p:outputLabel value="Type"/>
                    </div>
                    <div class="ui-grid-col-9">
                        <p:selectOneMenu id="communicationType" value="#{communication.selectCommunication}"
                                         required="true" requiredMessage="กรุณเลือกประเภทช่องทางการติดต่อ">
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{communication.allCommunication}" var="comItem"
                                           itemLabel="#{comItem.name}" itemValue="#{comItem.id}"/>
                            <p:ajax update=":formDlg:comGrp" />
                        </p:selectOneMenu>
                    </div>
                </div>
                <h:panelGroup id="comGrp">
                    <c:if test="#{communication.selectCommunication != ''}">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel value="Value"/>
                            </div>
                            <div class="ui-grid-col-9" >

                                <c:if test="#{communication.selectCommunication eq 1}">
                                    <p:inputText value="#{communication.communicationEntity.value}" required="true" requiredMessage="กรุณากรอกข้อมูล">
                                        <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                    </p:inputText>
                                </c:if>
                                <c:if test="#{communication.selectCommunication eq 5}">
                                    <p:inputMask id="phone" value="#{communication.communicationEntity.value}" mask="(999) 999-9999" required="true" requiredMessage="Phone number is required."/>
                                </c:if>

                            </div>
                        </div>
                    </c:if>
                </h:panelGroup>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p:commandButton value="Save" process="@form:formDlg" update=":employeeForm:communicationsListNow,:formDlg,:employeeForm:btnSave" actionListener="#{communication.saveTmpData}"/>
                        <p:commandButton type="button" value="Cancle" onclick="PF('communicationDia').hide()"></p:commandButton>

                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
    <h:form id="employeeForm">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <p:messages id="msgs"/>
                </div>
            </div>
            <div class="ui-grid-row">

                <div class="ui-grid-col-3">
                    <p:graphicImage value="../../img.png"/>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:button value="Add Picture"></p:button>
                        </div>
                        <div class="ui-grid-col-9"></div>
                    </div>

                </div>

                <div class="ui-grid-col-9">
                    <h:outputLabel value="Address Book" style="font-size: 30px"/>
                    <h:panelGrid columns="6" cellpadding="10">
                        <h:outputText value="Title"/>
                        <p:selectOneMenu id="titles" value="#{employee.employeeEntity.title}" style="width:125px">
                            <f:selectItem itemLabel="Mr." itemValue="Mr."/>
                            <f:selectItem itemLabel="Ms." itemValue="Ms."/>
                            <f:selectItem itemLabel="Miss" itemValue="Miss"/>
                        </p:selectOneMenu>
                        <h:outputText value="Firstname"/>
                        <p:inputText id="firstName" value="#{employee.employeeEntity.firstName}" required="true" requiredMessage="Firstname is required."></p:inputText>
                        <h:outputText value="Surname"/>
                        <p:inputText id="lastName" value="#{employee.employeeEntity.lastName}" required="true" requiredMessage="Lastname is required."></p:inputText>

                        <h:outputText value="Gender"/>
                        <p:selectOneMenu id="gender" style="width:125px" value="#{employee.employeeEntity.gender}">
                            <f:selectItem itemLabel="Male" itemValue="Male"/>
                            <f:selectItem itemLabel="Female" itemValue="Female"/>
                        </p:selectOneMenu>

                        <h:outputText value="Date of Birth"/>
                        <p:calendar id="button" showOn="button" value="#{employee.employeeEntity.birthDay}" required="true" requiredMessage="Date of Birth is required."/>

                    </h:panelGrid>


                    <h:outputText value="Contact Details" style="font-size: 30px"/>
                    <p:tabView>
                        <p:tab title="Home">
                            <h:outputText value="Home Address"></h:outputText>
                            <h:panelGrid columns="4" cellpadding="10">

                                <h:outputText value="Address No."/>
                                <p:inputText value="#{employee.employeeEntity.homeAddressNo}" required="true" requiredMessage="Address No. is required."/>
                                <h:outputText value="Road"/>
                                <p:inputText value="#{employee.employeeEntity.homeRoad}" required="true" requiredMessage="Road is required."/>

                                <h:outputText value="Province"/>
                                <p:inputText value="#{employee.employeeEntity.homeProvince}" required="true" requiredMessage="Province is required."/>
                                <h:outputText value="District"/>
                                <p:inputText value="#{employee.employeeEntity.homeDistrinct}" required="true" requiredMessage="District is required."/>

                                <h:outputText value="Postcode"/>
                                <p:inputText value="#{employee.employeeEntity.homePostcode}" required="true" requiredMessage="Postcode is required." validatorMessage="กรุณากรอกรหัสไปรษณีย์ให้ถูกต้อง" maxlength="5">
                                    <f:validateRequired pattern="^[0-9+]{10,}+$" />
                                </p:inputText>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Work">
                            <h:outputText value="Work Address"></h:outputText>
                            <h:panelGrid columns="4" cellpadding="10">

                                <h:outputText value="Address No."/>
                                <p:inputText value="#{employee.employeeEntity.workAddressNo}" required="true" requiredMessage="Work address no. is required."/>
                                <h:outputText value="Road"/>
                                <p:inputText value="#{employee.employeeEntity.workRoad}" required="true" requiredMessage="Work road is required."/>

                                <h:outputText value="Province"/>
                                <p:inputText value="#{employee.employeeEntity.workProvince}" required="true" requiredMessage="Work province is required."/>
                                <h:outputText value="District"/>
                                <p:inputText value="#{employee.employeeEntity.workDistrinct}" required="true" requiredMessage="Work district is required."/>

                                <h:outputText value="Postcode"/>
                                <p:inputText value="#{employee.employeeEntity.workPostcode}" required="true" requiredMessage="Work postcode is required." validatorMessage="กรุณากรอกรหัสไปรษณีย์ให้ถูกต้อง" maxlength="5">
                                    <f:validateRequired pattern="^[0-9+]{10,}+$" />
                                </p:inputText>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>

                    <h:outputText value="Communications" style="font-size: 30px"/>
                    <p:commandButton value="Add" update=":communicationDlg" actionListener="#{communication.addTempCommunication}" process="@this" oncomplete="PF('communicationDia').show();" />

                    <p:dataTable id="communicationsListNow" var="communicationItem" value="#{communication.communicationList}">
                        <p:column headerText="Type">
                            <h:outputText value="#{communicationItem.name}"/>
                        </p:column>
                        <p:column headerText="Value">
                            <h:outputText value="#{communicationItem.value}"/>
                        </p:column>
                        <p:column style="width:100px">
                            <p:commandButton icon="ui-icon-pencil" title="IconEdit"
                                             actionListener="#{communication.editTempCommunication(communicationItem.tmpId)}" update=":communicationDlg" process="@this" oncomplete="PF('communicationDia').show();">
                            </p:commandButton>
                            <p:commandButton icon="ui-icon-trash" title="IconDel" actionListener="#{communication.deleteTmpData(communicationItem.tmpId)}" process="@this" update=":employeeForm:communicationsListNow,:employeeForm:btnSave">
                                <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>


                    <h:outputText value="Other" style="font-size: 30px"/>
                    <p:inputTextarea rows="10" style="width:100%;"/>

                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-9">
                            </div>
                            <div class="ui-grid-col-3">
                                <h:inputHidden id="employeeId" value="#{employee.employeeEntity.id}" />
                                <p:commandButton id="btnSave" value="Save" process="@form" update="growl,#{!facesContext.validationFailed and communication.communicationList.size() ge 0 ? 'employeeForm':':employeeForm:msgs'}" actionListener="#{employee.saveEmployeeData}" onclick="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                <p:button value="Cancle" outcome="/Employee/index.xhtml?faces-redirect=true"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p:growl id="growl" life="2000" showDetail="true" autoUpdate="true" />
    </h:form>
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage value="/images/ajaxloadingbar.gif" />
    </p:dialog>
</body>
</f:view>
</html>
