<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
<h:head>
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>Address Book</title>
    </f:facet>
</h:head>

<body>
<f:event type="preRenderView" listener="#{employee.showMessage}" />
<h:form id="form">


    <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
            <div class="ui-grid-col-9"></div>
            <div class="ui-grid-col-2"><p:autoComplete id="emSearch" value="#{employee.searchResult}" completeMethod="#{employee.actionSearch}" /></div>
            <div class="ui-grid-col-1"><p:button value="Search"></p:button></div>
        </div>
    </div>


    <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p:dataTable id="employee" var="item" value="#{employee.allEmployee}" selection="#{employee.employeeList}" rowKey="#{item.id}">
                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                    <p:column headerText="Fullname">
                        <h:outputText value="#{item.title} #{item.firstName} #{item.lastName}" />
                    </p:column>
                    <p:column headerText="Communications">
                        <ui:repeat value="#{item.communicationList}" var="comList">
                            <h:outputText value="#{comList.name} : #{comList.value}" />
                            <br/>
                        </ui:repeat>
                    </p:column>
                    <p:column headerText="Gender">
                        <h:outputText value="#{item.gender}" />
                    </p:column>

                    <p:column style="width:150px">
                        <p:commandButton icon="ui-icon-pencil" title="Icon Only" action="#{employee.editForm(item.id)}">
                        </p:commandButton>
                        <p:commandButton icon="ui-icon-trash" title="Icon Only" update=":form:employee" actionListener="#{employee.deleteEmployee(item.id)}">
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </div>
    <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
            <div class="ui-grid-col-10"></div>
            <div class="ui-grid-col-2">
                <p:commandButton id="addEmployee" value="Add Employee" action="#{employee.createForm}"></p:commandButton>
            </div>
        </div>
    </div>
    <p:growl id="growl" life="2000" showDetail="true" autoUpdate="true" />
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
</h:form>
</body>
</f:view>
</html>
